/* css reset to normalize different default browser settings to a base */

/* margin */
/* border */
/* padding */
/* content */
*{
    /* visualize the borders */
    /* border-style: solid;
    border-width: 1px;
    border-color: hotpink; */

    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Cascadia Code', sans-serif;
    scroll-behavior: smooth;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: lightgray;
}
body{
    /* background is a general term, it lets you set multiple background properties */
    background: #282c34;
    /* content of body will be white */
    color: lightgray;

}
/* scrollbar */
::-webkit-scrollbar{
    width: 1em;
}
::-webkit-scrollbar-track{
    /* hsl (hue saturation light) - a more intuitive way to define rgb */
    background: #21252b;
    margin: 5vh;
    border-radius: 100vh;
}
::-webkit-scrollbar-thumb{
    background: lightgray;
    border-radius: 100vh;
    border: .2em solid #21252b;
}
::-webkit-scrollbar-thumb:hover{
    background: white;
}
#header{
    /* vh = viewport height */
    height: 100vh;
    background-image: url(images/800px-JJASBR_Weather_Artwork.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 90% 80%;
}
.container{
    /* top right bottom left */
    padding: 10px 15% 10px 15%;
}
.reveal{
    position: relative;
    transform: translateY(150px);
    filter:blur(5px);
    opacity: 0;
    transition: all 1s;
}
.reveal.active{
    transform: translateY(0px);
    filter: blur(0);
    opacity: 1;
}
.hidden{
    opacity: 0;
    transition: all 1s;
}
.show {
    opacity: 1;
}
.troylink:nth-child(2){
    transition-delay: 200ms;
}
.troylink:nth-child(3){
    transition-delay: 400ms;
}
.troylink:nth-child(4){
    transition-delay: 600ms;
}
.troylink:nth-child(5){
    transition-delay: 800ms;
}
.troylink:nth-child(6){
    transition-delay: 1000ms;
}
.troylink:nth-child(7){
    transition-delay: 1200ms;
}
.troylink:nth-child(8){
    transition-delay: 1400ms;
}
.troylink:nth-child(9){
    transition-delay: 1600ms;
}
.troylink:nth-child(10){
    transition-delay: 1800ms;
}
nav{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* makes newline when vp gets too small */
    flex-wrap: wrap;
}
nav i{
    color: lightgray;
    font-size: 40px;
}
nav ul li{
    display: inline-block;
}
/* relative position anchoring for the absolute position */
nav ul li a{
    margin: 20px;
    color: lightgray;
    font-size: 20px;
    border-radius: 100vh;
    position: relative;
}
/* underline effect when hovered */
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover{
    font-weight: bold;
    color: white;
}
nav ul li a:hover::after{
    width: 100%;
}
nav i:hover{
    color: white;
    transform: translateY(-3px)
}
.typewriter{
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    animation: typing 1s steps(20, end) forwards, blinking .8s infinite;
    font-size: 1.6rem;
    width: 0;
    position: relative;
}
@keyframes typing {
    from { width: 0 }
    to { width: 12ch }
}
@keyframes blinking {
    50% { border-style: none; }
  }
.header-text{
    margin-top: 15%;
    font-size: 30px;
}
.header-text h1{
    margin-bottom: 30px;
    font-size: 50px;
}
.header-text p{
    line-height: 2;
}
strong{
    color: white;
    font-weight: bold;
}
.about-text{
    text-indent: 50px;
}
.links-bar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.links-bar img{
    width: 100px;
}
.links-bar a{
    margin-right: 10%;
    /* transitions go into base element, so any subsequent transform is animated with .5s length of time */
    transition: .5s;
}
.links-bar a:hover{
    transform: scale(1.2);
    transition-delay: 0ms;
}
/* ------------------about------------------ */
#about{
    color: lightgray;
    margin-bottom: 50px;
}
.about-col2 img{
    width: 300px;
    border-radius: 15%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col1{
    display: block;
    width: 60%;
}
.about-col2{
    color: white;
}
.subtitle{
    font-size: 30px;
    font-weight: 600px;
    margin-bottom: 20px;
}
.about-col1 p{
    line-height: 3;
}
.tab-titles{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.tab-links{
    /* changes cursor to pointer when hovering over it */
    cursor: pointer;
    position: relative;
}
/* underlining animation */
.tab-links::after{
    content: '';
    width: 0%;
    height: 3px;
    background: white;
    position: absolute;
    left: 50%;
    bottom: 1px;
    transform: translateX(-50%);
    transition: 0.5s;
}
.tab-links:hover::after{
    width: 100%;
}
.tab-links:hover{
    font-weight: bold;
    color: white;
}
.tab-links.active-link{
    color: white;
    font-weight: bold;
}
.tab-links.active-link::after{
    width: 100%;
}
/* tab content animation */
.tab-contents ul li{
    margin: 10px 10px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.about-col1 .tab-contents.active-tab ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col1 img{
    width: 75px;
}
/* ------------------portfolio------------------ */
#projects{
}
.previouswork{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    align-items: center;
}
.previous-work-title{
    text-align: center;
    align-content: center;
}
.workcol1 h2{
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    font-weight: bolder;
}
.techstack {
    display: flex;
    flex-wrap: wrap;
    border-style:solid;
    margin: 10px;
    padding: 10px;
    justify-content: center;
}
.techstack img{
    width: 100px;
}
.gallery{
    width:600px;
    display: flex;
    overflow: hidden;
    border-radius: 15px;
    transition: 0.5s;
    position: relative;
}
.gallery:hover{
    transform: scale(1.05);
}
.gallery::-webkit-scrollbar{
    display: none;
}
.gallerywrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery a{
    border-radius: 15px;
    width: 600px;
}
.gallery img{
    border-radius: 15px;
    width: 600px;
}
#backbtn, #forwardbtn{
    color: lightgray;
    font-size: 20px;
    text-align: center;
    width: 50px;
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    background-color: #21252b;
}
#backbtn:hover, #forwardbtn:hover{
    transform: translateY(-3px);
    font-weight: bold;
    color: white;
}
/* #backbtn:active, #forwardbtn:active{
    transform: translateY(3px);
    color: lightgray;
    font-weight: lighter;
} */
.projectlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px; /* Adjust the gap between items as needed */
    margin-top: 30px;
    margin-bottom: 30px;
}
.project {
    width: 350px;
    height: 400px;
    background-color: #e0e0e0;
    text-align: center;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    transition: .5s;
}
.project img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
    border-radius: 15px;
}
.projlayer{
    background: linear-gradient(rgba(0,0,0,0.8), black);
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-style: solid;
    border-radius: 15px;
}
.projlayer p{
    line-height: 2;
    margin-top: 30px;
}
.project:hover .projlayer{
    display: inline-block;
    cursor: pointer;
}
.project:hover{
    transform: scale(1.1);
    display: flex;
}

/* ------------------exposition------------------ */
#exposition{
    width: 100%;
}
.featuredpost{
    display: flex;
    margin: 50px;
}
.featuredleftcol{
    width: 50%;
}
.featuredleftcol img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.featuredrightcol{
    margin: 2%;
    display: block;
    width: 50%;
}
.featuredrightcol sub{
    display: inline-block;
}
.featuredrightcol h2{
    margin-top: 30px;
    margin-bottom: 30px;
}
.featuredrightcol p{
    line-height: 2;
    margin-bottom: 10px;
}
.morearticles {
    display: flex;
    justify-content: center;
}
.expositionbutton{
    color: lightgray;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    background-color: #21252b;
}
.expositionbutton:hover{
    transform: translateY(-3px);
    font-weight: bold;
    color: white;
}
/* .expositionbutton:active{
    transform: translateY(3px);
    color: lightgray;
    font-weight: lighter;
} */
/* ------------------contact------------------ */
#contact{
    width: 100%;
}
.contact-content{
    display: flex;
    margin-top: 30px;
}
.contact-first-column{
    width: 60%;
    font-size: 20px;
}

.contact-first-column .contact-list li{
    margin: 3% 30% 3% 10%;
    padding: 20px;
    border-radius: 15px;
    background-color: #21252b;
    display: inline-block;
}
.contact-first-column .contact-list li:hover{
    transform: translateY(-3px);
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.contact-first-column .contact-list a:hover{
    transform: translateY(-3px);
    cursor: pointer;
    color: white;
    font-weight: bold;
}
/* .contact-first-column .contact-list li:active{
    transform: translateY(3px);
    color: lightgray;
    font-weight: lighter;
}
.contact-first-column .contact-list a:active{
    transform: translateY(3px);
    color: lightgray;
    font-weight: lighter;
} */
.cpysuccess{
    display: none;
    position: absolute;
    color: green;
    font-weight: lighter;
    font-size: 15px;
}
.credits{
    display: block;
    text-align: right;
}
.credits p{
    margin: 5% 10% 5% 30%;
}
.credits a{
    position: relative;
}
.credits a:hover{
    font-weight: bold;
    color: white;
}
.credits a::after{
    content: '';
    width: 100%;
    height: 3px;
    background: lightgray;
    position: absolute;
    left: 0%;
    bottom: -2px;
}
.credits a::after:hover{
    font-weight: bold;
    color: white;
}

.contact-second-column{
    width: 40%;
    display: block;
}
.contact-second-column img{
    width: 250px;
    margin: 2%;
}
.contact-second-column .metaphoricalmusic{
    float: right;
}
/* ------------------footer------------------ */
footer .container{
    margin: 10px;
    
}
footer .footer-row{
    display: flex;
    justify-content: space-between;
}
footer ul{
    display: flex;
}
/* ------------------footer------------------ */
/* ------------------exposition-------------- */

#expositionheader{
    width: 100%;
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 80% 80%;
}
.expositionbtn::after{
    content: '';
    width: 100%;
    height: 3px;
    background: lightgray;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
    transition: 0s;
}
.expositionbtn:hover::after{
    background: white;
}
.index{
    margin: 50px 100px;
    display: block;
}
.post{
    line-height: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px;
    background: #21252b;
    border-radius: 15px;
    transition: .5s;
    margin-bottom: 30px;
    gap: 30px;
}
.post img{
    width: 200px;
    border-radius: 15px;
}
.post:hover{
    transform: scale(1.1);
    color: white;
    cursor: pointer;
}
.article{
    display: none;
    margin-left: 100px;
    margin-right: 100px;
}
.articleseparator{
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 2;
}
.articleseparator p{
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: small;
}
.articleseparator img{
    margin-bottom: 30px;
    width: 100%;
}
.bckbtn{
    display: inline-block;
    border-radius: 15px;
    padding: 5px;
    background-color:#21252b;
}
.bckbtn:hover{
    color: white;
    font-weight: bolder;
    transform: translateY(-3px);
}
.bckbtn:active{
    color: lightgray;
    font-weight:normal;
    transform: translateY(3px);
}
sub {
    margin-top: 30px;
    display: block;
}

.articlebody{
    display: flex;
    flex-direction: column;
}
.articlebody a{
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}
.article p, .articleseparator p{
    font-size: medium;
    line-height: 2;
    text-indent: 50px;
    margin-bottom: 30px;
}
.articlebody h2{
    margin-bottom: 30px;
}
.article code{
    display: block;
    background-color: #21252b;
}
.articlebody img{
    width: 50%;
    height: auto;
    margin-bottom: 30px;
    align-self: center;
}
.articlebody iframe{
    width: 50%;
    height: 300px;
    margin-bottom: 30px;
    align-self: center;
}
.absent{
    display: none;
}
.present{
    display: block;
}
/* -------------------------------------media queries--------------------------------------------- */
@media screen and (max-width: 1025px){
    nav ul li a{
        font-size: 10px;
    }
    .links-bar img{
        width: 50px;
        justify-content: space-evenly;
    }
    .about-col2 img{
        display: none;
    }
    .contact-second-column img{
        width: 100px;
    }
    .postcol1 h2{
        font-size: smaller;
    }
    .postcol1 p{
        font-size: xx-small;
        line-height: 1.5;
    }
    .postcol2 img{
        display: none;
    }
    .article iframe{
        width: 100%;
    }
    .featuredrightcol sub{
        display: inline-block;
    }
    .featuredrightcol h2{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .featuredrightcol p{
        line-height: 2;
        margin-bottom: 10px;
        font-size: smaller;
    }
    .post img{
        width: 100px;
    }
    .article{
        margin-left: 0;
        margin-right: 0;
    }
    .article p, .articleseparator p{
        font-size: small;
        line-height: 2;
        text-indent: 50px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 431px){
    nav{
        display: none;
    }
    .navbreak{
        display: none;
    }
    #header{
        background-image: url(images/800px-JJASBR_Weather_Artwork.png);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: 90% 80%;
    }
    #header h1 {
        font-size: smaller;
    }
    #header p {
        font-size: small;
    }
    #about p {
        line-height: 2;
    }
    .about-col1{
        width: 100%;
    }
    .links-bar a{
        justify-content: space-between;
    }
    .links-bar img{
        width: 75px;
    }
    .troylink img{
        width: 30px;    
    }
    .previouswork{
        flex-direction: column;
    }
    .gallery{
        width: 200px;
    }
    .gallery a{
        width: 200px;
    }
    .gallery img{
        width: 200px;
    }
    #backbtn, #forwardbtn{
        margin: 5px;
    }
    .techstack img{
        width: 50px;
    }
    .projectlist a{
        width: 100%;
    }
    .project{
        width: 100%;
        height: 200px;
    }
    .project img{
        width: 100%;
    }
    .projlayer{
        font-size: small;
        width: 100%;
    }
    .projlayer p{
        margin-top: 10px;
        line-height: 1.5;
        font-size: x-small;
    }
    .featuredrightcol h2{
        font-size: smaller;
    }
    .featuredrightcol p {
        line-height: 1;
    }
    .credits p {
        font-size: xx-small;
    } 

    .contact-first-column{
        width: 100%;
        display: flex;
    }
    .contact-first-column .contact-list li{
        padding: 10px;
    }
    .contact-list {
        font-size: xx-small;
    }
    .contact-second-column{
        display: none;
    }
    .featuredpost{
        flex-direction: column;
    }
    .featuredrightcol{
        width: 100%;
    }
    .featuredleftcol{
        width: 100%;
    }
    .index{
        margin: 0;
    }
}